<aside class="sidebar">
    <div class="sidebar-header">
        <h3>CRM AQUA</h3>
        <small class="text-muted">Thuốc Thủy Sản</small>
    </div>

    <ul class="nav-list">
        <li class="nav-item">
            <a href="index.html" class="nav-link">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                href="#inventoryMenu" role="button" aria-expanded="false">
                <span>
                    <i class="bi bi-box me-2"></i> Quản Lý Kho
                </span>
                <i class="bi bi-chevron-down small toggle-icon"></i>
            </a>

            <div class="collapse" id="inventoryMenu">
                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link py-2 d-flex align-items-center text-nowrap" href="inventory.html">
                            <i class="bi bi-list-ul me-2"></i>
                            <span>Danh mục thuốc</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 d-flex align-items-center text-nowrap" href="stock-history.html">
                            <i class="bi bi-clock-history me-2"></i>
                            <span>Lịch sử biến động</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="pos-sales.html" class="nav-link">
                <i class="bi bi-cart-check fs-5 me-3"></i>
                <span>Bán Hàng (POS)</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="employees.html" class="nav-link">
                <i class="bi bi-people"></i> Quản Lý Nhân Viên
            </a>
        </li>

        <li class="nav-item">
            <a href="customer-list.html" class="nav-link">
                <i class="bi bi-person-badge"></i> Quản Lý Khách Hàng
            </a>
        </li>

        <li class="nav-item">
            <a href="debt-management.html" class="nav-link">
                <i class="bi bi-cart-check"></i> Quản Lý Nợ
            </a>
        </li>
        <li class="nav-item">
            <a href="kpi.html" class="nav-link">
                <i class="bi bi-graph-up-arrow"></i> KPI & Doanh Số
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="settings.html" class="nav-link">
                <i class="bi bi-gear"></i> Cấu Hình Hệ Thống
            </a>
        </li>
    </ul>
</aside>